/*#region ----------------- Blogs */
.blogs-grid-section {
  margin: 80px 0;
  .section-inner {
    margin-top: 30px;
  }
  .grid-layout {
    display: grid;
    grid-template-columns: 65% 35%;
  }
  .grid-news-preview,
  .grid-news-row {
    .grid-inner {
      padding: 20px;
      background-color: white;
      border: 1px solid $borderColor;
      border-radius: 5px;
    }
  }
  .grid-news-preview {
    padding-left: 30px;
  }
  .btns-group {
    .btn {
      width: 100%;
    }
  }
}

.swiper-blog-preview {
  .swiper-wrapper {
    padding-bottom: 60px;
  }
  .swiper-pagination {
    display: inline-block;
    width: unset;
    bottom: 5px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 34px;
    height: 34px;
    background-color: $primary;
    border-radius: 50%;
    &::after {
      color: white;
      font-family: $iconFontRegular;
      font-size: 20px;
    }
  }
  .swiper-button-prev {
    bottom: 0;
    top: unset;
    right: 0;
    &::after {
      content: "\f169";
    }
  }
  .swiper-button-next {
    left: unset;
    right: 45px;
    bottom: 0;
    top: unset;
    &::after {
      content: "\f168";
    }
  }
}

.card-blog-preview {
  .card-inner {
    display: block;
    background-color: white;
  }
  .thumb {
    @include imgContainer(370px, 5px);
  }
  .title {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    padding: 20px;
    @include displayFlex(flex, flex-start, flex-end);
    flex-direction: column;
    h2 {
      margin-bottom: 8px;
      font-size: 16px;
      font-weight: 600;
      a {
        color: white;
        @include textTruncate(1);
        &:hover {
          color: $primary;
        }
      }
    }
    .date {
      font-size: 13px;
      font-weight: 400;
      color: white;
      .fi {
        margin-left: 10px;
        font-size: 16px;
        position: relative;
        top: 3px;
        color: rgba($color: white, $alpha: 0.7);
      }
    }
  }
  .info {
    margin-top: 15px;
    padding: 0 5px;
    p {
      text-align: justify;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 15px;
      color: $textDark;
      @include textTruncate(2);
      min-height: 48px;
    }
  }
  .category {
    @include displayFlex(flex, center, space-between);
    .category-link {
      font-size: 13px;
      font-weight: 400;
      color: $primary;
      .fi {
        margin-left: 5px;
        font-size: 16px;
        position: relative;
        top: 3px;
      }
      &:hover {
        color: $secondary;
      }
    }
    .btn-primary-outline {
      font-size: 13px;
      padding: 0.5rem 1rem;
      min-width: unset;
      display: flex;
      align-items: center;
      .fi {
        top: 0;
      }
    }
  }
}

.card-blog-row-small {
  margin-bottom: 10px;
  .card-inner {
    background-color: $background;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 90px auto;
    align-items: center;
    padding: 12px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
  }
  .thumb {
    @include imgContainer(90px, 3px);
  }
  .info {
    padding-right: 10px;
    h4 {
      font-size: 13px;
      font-weight: 500;
      color: $textDark;
      margin-bottom: 6px;
      @include textTruncate(1);
    }
    p {
      font-size: 12px;
      font-weight: 400;
      color: $textGrey;
      margin-bottom: 5px;
      @include textTruncate(1);
    }
  }
  .icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $secondary;
    color: white;
    font-size: 18px;
    margin-right: auto;
    @include displayFlex(flex, center, center);
  }
  &:hover {
    .card-inner {
      border-color: $primary;
    }
    .info {
      h4 {
        color: $primary;
      }
    }
  }
}

.blogs-list-grid-layout {
  margin: 130px 0 50px 0;
  .grid-layout {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-areas: "b-big b-width b-width" "b-big b-small-1 b-small-2";
  }
  .grid-item {
    &.width {
      grid-area: b-width;
    }
    &.small-1 {
      grid-area: b-small-1;
    }
    &.small-2 {
      grid-area: b-small-2;
    }
    &.big {
      grid-area: b-big;
      article {
        .thumb {
          height: 450px;
        }
      }
    }
  }
  article {
    padding: 5px;
    .thumb {
      @include imgContainer(220px, 2px);
      .img-inner {
        img {
          transition: all 3s ease-in-out;
        }
      }
    }
    .text-content {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      @include displayFlex(flex, flex-start, flex-end);
      flex-direction: column;
      z-index: 10;
      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.7)
        );
        z-index: -1;
      }
      h2 {
        font-size: 15px;
        font-weight: 600;
        color: white;
        margin-bottom: 0;
        @include textTruncate(1);
      }
      .date {
        font-size: 13px;
        font-weight: 400;
        color: white;
        margin-bottom: 5px;
        .fi {
          margin-left: 5px;
          position: relative;
          top: 2px;
        }
      }
    }
    &:hover {
      .thumb {
        .img-inner {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.blogs-list-section {
  padding: 20px 0 100px 0;
  position: relative;
  .section-inner {
    display: grid;
    grid-template-columns: auto 340px;
    position: relative;
    z-index: 10;
  }
  .grid-main {
    padding-left: 30px;
    .grid-inner {
      margin-bottom: 2rem;
    }
  }
  .grid-side {
    .grid-inner {
      position: sticky;
      top: 30px;
    }
  }
  .articles-side {
    background-color: white;
    margin-bottom: 15px;
    .title {
      font-size: 17px;
      position: relative;
      margin-bottom: 1rem;
      background-color: $primary;
      color: white;
      padding: 8px 15px;
    }
    ul {
      padding: 0 15px 20px 15px;
      li {
        a {
          display: block;
          font-size: 14px;
          font-weight: 400;
          color: $textDark;
          padding: 5px 0 5px 10px;
        }
        .fi {
          margin-left: 5px;
          position: relative;
          top: 3px;
          color: $textGrey;
          font-size: 12px;
        }
        span {
          margin-right: 5px;
          font-size: 12px;
          color: $textGrey;
        }
        &:hover {
          a,
          span,
          .fi {
            color: $primary;
          }
        }
      }
    }
  }
}

.card-blog-row {
  margin-bottom: 30px;
  .card-inner {
    background-color: white;
    display: grid;
    grid-template-columns: 250px auto;
    transition: all 0.2s ease-in-out;
    position: relative;
    padding: 10px;
  }
  .thumb {
    @include imgContainer(160px, 2px);
    &:hover {
      img {
        transform: scale(1.03);
      }
    }
  }
  .date {
    position: absolute;
    background-color: white;
    right: 20px;
    bottom: -5px;
    font-size: 13px;
    font-weight: 300;
    padding: 6px 10px;
    box-shadow: $boxshadow;
    color: $textDark;
    .fi {
      color: $textSilver;
      margin-left: 5px;
      position: relative;
      top: 2px;
      font-size: 15px;
    }
  }
  .info {
    padding: 20px 20px 0 0;
    .name {
      display: block;
      h2 {
        font-size: 16px;
        font-weight: 600;
        color: $textDark;
        @include textTruncate(1);
      }
      &:hover h2 {
        color: $primary;
      }
    }
    .desc {
      font-size: 13px;
      font-weight: 400;
      color: $textGrey;
      margin-bottom: 1rem;
      @include textTruncate(2);
      min-height: 40px;
    }
    .see-more {
      text-align: left;
      @include displayFlex(flex, center, space-between);
      .btn-primary-outline {
        font-size: 13px;
      }
      .category {
        h6 {
          font-size: 13px;
          font-weight: 400;
          color: $textGrey;
          .fi {
            margin-left: 5px;
            font-size: 15px;
            position: relative;
            top: 3px;
          }
        }
        a {
          font-size: 13px;
          font-weight: 400;
          color: $textDark;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

.card-mini-blog {
  padding: 0 10px 10px 10px;
  .card-inner {
    display: grid;
    grid-template-columns: 90px auto;
  }
  .thumb {
    @include imgContainer(90px, 0);
  }
  .info {
    padding: 5px 10px 0 0;
    .date {
      font-size: 12px;
      font-weight: 300;
      color: $textGrey;
    }
    .name {
      font-size: 13px;
      font-weight: 500;
      color: $textDark;
      @include textTruncate(2);
    }
  }
}

.blogs-details-section {
  background-color: white;
  padding: 30px;
  .name {
    margin-bottom: 1rem;
    h2 {
      font-size: 18px;
      color: $textDark;
      margin-bottom: 12px;
      line-height: normal;
    }
    ul {
      @include displayFlex(flex, center, flex-start);
      flex-wrap: wrap;
      li {
        font-size: 13px;
        font-weight: 400;
        margin: 5px 0 5px 25px;
        .fi {
          font-size: 16px;
          margin-left: 5px;
          position: relative;
          top: 3px;
          color: $textGrey;
        }
        a {
          color: $primary;
          text-decoration: underline 1px dashed $primary !important;
        }
      }
    }
  }
  .thumb {
    @include imgContainer(400px, 0);
  }
  .description {
    margin-top: 2rem;
    .mini-title {
      background-color: rgba($color: $primary, $alpha: 0.1);
      padding: 15px;
      border-right: 4px solid $primary;
      margin-bottom: 1rem;
      h6 {
        font-size: 15px;
        line-height: 26px;
        margin-bottom: 0;
        text-align: justify;
      }
    }
    p {
      font-size: 15px;
      font-weight: 400;
      color: $textDark;
      text-align: justify;
    }
    ul {
      padding-right: 30px;
      list-style: disc;
      margin-bottom: 1rem;
      li {
        font-size: 14px;
        font-weight: 400;
        margin: 8px 0;
        color: $textGrey;
      }
    }
    .link {
      a {
        font-size: 14px;
        font-weight: 400;
        color: $primary;
        text-decoration: underline 1px dashed $primary !important;
      }
    }
  }
}

@media (max-width: 1400px) {
}
@media (max-width: 1199px) {
  .blogs-grid-section {
    .grid-news-preview,
    .grid-news-row {
      .grid-inner {
        padding: 15px;
      }
    }
    .grid-news-preview {
      padding-left: 20px;
    }
  }
  .swiper-blog-preview {
    .swiper-wrapper {
      padding-bottom: 40px;
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: 24px;
      height: 24px;
    }
    .swiper-button-next {
      right: 35px;
    }
    .swiper-pagination {
      bottom: 0;
    }
  }
  .card-blog-preview {
    .thumb {
      height: 270px;
    }
    .title {
      h2 {
        font-size: 14px;
      }
      .date {
        font-size: 12px;
        .fi {
          font-size: 14px;
        }
      }
    }
    .info {
      p {
        font-size: 13px;
        line-height: 20px;
        min-height: 40px;
      }
    }
    .category {
      .category-link {
        font-size: 12px;
        .fi {
          font-size: 14px;
        }
      }
      .btn-primary-outline {
        font-size: 12px;
        padding: 0.3rem 0.8rem;
      }
    }
  }
  .card-blog-row-small {
    .card-inner {
      grid-template-columns: 70px auto;
      padding: 5px;
    }
    .thumb {
      height: 70px;
    }
    .info {
      h4 {
        font-size: 12px;
        margin-bottom: 0;
      }
    }
  }
  .blogs-list-section {
    .section-inner {
      grid-template-columns: auto 300px;
    }
  }
  .card-blog-row {
    .card-inner {
      grid-template-columns: 200px auto;
    }
    .info {
      .desc {
        -webkit-line-clamp: 1;
        min-height: unset;
      }
      .see-more {
        flex-direction: column;
        .category {
          flex: 0 0 100%;
          width: 100%;
          text-align: right;
        }
        .btn-primary-outline {
          margin-right: auto;
        }
      }
    }
  }
  .blogs-details-section {
    .thumb {
      height: 300px;
    }
    .name {
      h2 {
        font-size: 17px;
      }
    }
    .description {
      .mini-title {
        h6 {
          font-size: 14px;
        }
      }
      p {
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 992px) {
  .blogs-grid-section {
    .grid-layout {
      grid-template-columns: 100%;
    }
    .grid-news-preview {
      padding-left: 0;
      margin-bottom: 20px;
    }
  }
  .blogs-list-grid-layout {
    margin-bottom: 30px;
    .grid-layout {
      grid-template-columns: 50% 50%;
      grid-template-areas: "b-big b-big" "b-width b-width" "b-small-1 b-small-2";
    }
    .grid-item {
      &.big {
        article {
          .thumb {
            height: 220px;
          }
        }
      }
    }
  }
  .blogs-list-section {
    .section-inner {
      grid-template-columns: 100%;
    }
    .grid-main {
      padding: 0 0 50px 0;
    }
  }
  .card-blog-row {
    .info {
      .name {
        h2 {
          font-size: 14px;
        }
      }
      .desc {
        font-size: 12px;
      }
      .see-more {
        .btn-primary-outline {
          min-width: unset;
          padding: 0.5rem 1rem;
        }
        .category {
          h6 {
            font-size: 12px;
          }
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
  .blogs-details-section {
    padding: 25px;
  }
}
@media (max-width: 768px) {
  .blogs-list-grid-layout {
    article {
      .text-content {
        h2 {
          font-size: 14px;
        }
      }
    }
  }
  .blogs-details-section {
    padding: 20px;
    .thumb {
      height: 250px;
    }
    .name {
      h2 {
        font-size: 16px;
      }
    }
    .description {
      .mini-title {
        h6 {
          font-size: 13px;
        }
      }
      p {
        font-size: 13px;
      }
      ul {
        li {
          font-size: 12px;
          margin: 5px 0;
        }
      }
      .link {
        a {
          font-size: 13px;
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .card-blog-preview {
    .thumb {
      height: 220px;
    }
    .title {
      h2 {
        font-size: 13px;
      }
      .date {
        font-size: 11px;
        .fi {
          font-size: 13px;
        }
      }
    }
    .info {
      p {
        font-size: 12px;
        line-height: 18px;
        min-height: 37px;
      }
    }
    .category {
      flex-direction: column;
      .category-link {
        font-size: 12px;
        flex: 1 0 100%;
        width: 100%;
        margin-bottom: 8px;
        .fi {
          font-size: 13px;
        }
      }
      .btn-primary-outline {
        font-size: 12px;
        width: 100%;
        flex: 1 0 100%;
        text-align: center;
        justify-content: center;
        padding: 0.3rem 0.8rem;
      }
    }
  }
  .blogs-list-grid-layout {
    .grid-layout {
      grid-template-columns: 100%;
      grid-template-areas: "b-big" "b-width" "b-small-1" "b-small-2";
    }
    .grid-item {
      &.big {
        article {
          .thumb {
            height: 180px;
          }
        }
      }
    }
    article {
      .thumb {
        height: 180px;
      }
      .text-content {
        h2 {
          font-size: 13px;
        }
      }
    }
  }
  .card-blog-row {
    .card-inner {
      grid-template-columns: 100%;
    }
    .thumb {
      height: 180px;
    }
    .info {
      padding: 10px;
    }
  }
  .blogs-details-section {
    padding: 15px;
  }
}
/*#endregion -------------- Blogs */
