/*#region ----------------- Buttons */
.btn {
  font-size: 14px;
  padding: 0.7rem 1.2rem;
  border-radius: 80px;
  border: none;
  min-width: 120px;
  box-shadow: none !important;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus {
    box-shadow: none !important;
  }
  .fi {
    font-size: 22px;
    line-height: 0;
  }
  &:disabled {
    background-color: $background !important;
    border: 1px solid $textSilver !important;
    color: $textGrey;
  }
}
.icon-right {
  padding-right: 3rem;
  .fi {
    position: absolute;
    right: 14px;
    top: 11px;
  }
}
.icon-left {
  padding-left: 3rem;
  .fi {
    position: absolute;
    left: 14px;
    top: 11px;
  }
}

.btn-primary {
  background: $primary;
  color: white;
  &:hover,
  &:focus {
    background: $primaryLight !important;
  }
}
.btn-secondary {
  background: $secondary;
  color: white;
  &:hover,
  &:focus {
    background: darken($color: $secondary, $amount: 8);
  }
}
.btn-primary-outline {
  background: transparent;
  color: $secondary;
  border: 2px solid $secondary;
  padding: 0.62rem 1.2rem;
  &:hover,
  &:focus {
    background: $secondary;
    color: white;
  }
  &.color-red {
    border-color: $error;
    color: $error;
    &:hover,
    &:focus {
      background-color: rgba($color: $error, $alpha: 0.1);
    }
  }
}
.btn-secondary-outline {
  background: transparent;
  color: $secondary;
  border: 2px solid $secondary;
  padding: 0.62rem 1.2rem;
  &:hover,
  &:focus {
    background-color: $secondary;
    color: white;
  }
}
/*#endregion -------------- Buttons */
