/*#region ----------------- User Profile */
.user-dashboard-section {
  margin: 150px 0 200px 0;
  .grid-layout {
    display: grid;
    grid-template-columns: 320px auto;
  }
  .grid-user-menu {
    transition: all 0.2s ease-in-out;
    .grid-inner {
      border-radius: 20px;
      position: sticky;
      top: 120px;
      background-color: white;
      box-shadow: $boxshadow2;
    }
  }
  .grid-main {
    padding-right: 20px;
    .grid-inner {
      border-radius: 20px;
      background-color: white;
      box-shadow: $boxshadow2;
    }
  }
  .user-image {
    padding: 30px 15px 15px 15px;
    display: grid;
    grid-template-columns: 70px auto;
    align-items: center;
    .img-inner {
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .user-name {
      padding-right: 12px;
      font-size: 16px;
      font-weight: 500;
      color: $textGrey;
    }
  }
  .user-menu {
    padding: 20px 0;
    position: relative;
    border-top: 1px solid $borderColor;
    .btn-collape,
    .sub-btn-collape {
      font-size: 16px;
      font-weight: 400;
      color: $textGrey;
      @include displayFlex(flex, center, flex-start);
      padding: 12px 30px;
      position: relative;
      width: 100%;
      transition: all 0.2s ease-in;
      .fi {
        font-size: 20px;
        margin-left: 10px;
        color: $textSilver;
        transition: all 0.2s ease-in;
      }
      &.dropdown {
        &::before {
          content: "\f10d";
          font-family: $iconFontRegular;
          position: absolute;
          top: 10px;
          left: 5px;
          font-size: 12px;
          color: $textSilver;
          transform: rotate(0deg);
        }
      }
      &.collapsed {
        &.dropdown {
          &::before {
            transform: rotate(90deg);
          }
        }
      }
      &:hover {
        color: $primary !important;
        .fi {
          color: $primary;
        }
      }
    }
    .btn-collape {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 5px;
        height: 100%;
        border-radius: 5px 0 0 5px;
        background-color: transparent;
        transform: translateY(-50%);
      }
    }
    .sub-menu-list {
      background-color: rgba($color: $textGrey, $alpha: 0.1);
      padding: 10px 20px 10px 10px;
      border-radius: 10px;
      .btn-collape {
        color: $textGrey;
      }
    }
    .menu-item {
      position: relative;
      &.active {
        .btn-collape {
          color: $primary !important;
          background-color: rgba($color: $primary, $alpha: 0.1);
          font-weight: 400;
          &::before {
            background-color: $primary;
          }
          .fi {
            color: $primary;
          }
        }
      }
    }
  }
  .main-title {
    @include displayFlex(flex, center, space-between);
    padding: 20px;
    position: relative;
    margin-top: 0;
    border-bottom: 1px solid $borderColor;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 1px;
    }
    .title-inner {
      display: grid;
      grid-template-columns: 40px auto;
      align-items: center;
    }
    .icon {
      width: 40px;
      height: 40px;
      background: $gradientPrimary;
      border-radius: 50%;
      @include displayFlex(flex, center, center);
      color: white;
      font-size: 18px;
    }
    h3 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 0;
      margin-right: 20px;
      text-align: right;
    }
    .buttons-group {
      .btn-primary {
        background: $background;
        border: 1px solid $borderColor;
        color: $textGrey;
        min-width: unset;
        &:hover {
          background: $background !important;
          border-color: $primary !important;
          color: $primary;
        }
        &.btn-fill {
          background: $primary;
          color: white;
          border: none;
          &:hover,
          &:focus {
            background: $primaryLight !important;
            color: white;
          }
        }
      }
    }
  }
  .main-body {
    padding: 20px 20px 40px 20px;
  }
  .btns-action-main {
    text-align: center;
    margin-top: 2rem;
  }
  .empty-box {
    padding: 60px 0;
    text-align: center;
    .thumb {
      width: 140px;
      margin: 0 auto 1rem auto;
      img {
        width: 100%;
      }
    }
    h6 {
      color: $textGrey;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }
}
.btn-usermenu {
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: rgba($color: $primary, $alpha: 0.1);
  border: none;
  border-radius: 10px;
  font-size: 13px;
  color: $primary;
  @include displayFlex(none, center, center);
  font-size: 20px;
}
.btn-closeprofileMenu {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  color: $textGrey;
  background-color: transparent;
  border: none;
  padding: 0;
  @include displayFlex(none, center, center);
  font-size: 18px;
  border-radius: 50%;
  //   background: rgba($color: $primary, $alpha: 0.1);
  color: $textSilver;
  &:hover {
    color: $textGrey;
  }
}
.overlay-userMenu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1998;
  opacity: 0;
  transition: all 0.3s;
  &.active {
    display: block;
    opacity: 1;
  }
}
.hello-msg {
  border-right: 5px solid $secondary;
  padding-right: 20px;
  h5 {
    font-size: 16px;
    margin-bottom: 2px;
    color: $textDark;
  }
  p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    color: $textGrey;
  }
}

.register-recipe-group {
  @include displayFlex(flex, center, center);
  flex-wrap: wrap;
  margin: 1.5rem 0;
}
.card-register-recipe {
  flex: 0 0 50%;
  width: 50%;
  &:first-child {
    padding-left: 10px;
    .card-inner {
      background: $gradientPrimary;
    }
    &:hover {
      .card-inner {
        box-shadow: 0 6px 30px rgba($color: $primary, $alpha: 0.4);
      }
    }
  }
  &:last-child {
    padding-right: 10px;
    .card-inner {
      background: $gradientSecondary;
    }
    &:hover {
      .card-inner {
        box-shadow: 0 6px 30px rgba($color: $secondary, $alpha: 0.4);
      }
    }
  }
  .card-inner {
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 80px auto;
    align-items: center;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .thumb {
    width: 80px;
    height: 80px;
    background-color: rgba($color: white, $alpha: 0.2);
    border-radius: 15px;
    font-size: 35px;
    @include displayFlex(flex, center, center);
    color: white;
  }
  .info {
    padding: 0 10px 0 40px;
    h5 {
      font-size: 18px;
      margin-bottom: 0;
      color: white;
      @include textTruncate(1);
    }
    p {
      margin-bottom: 0;
      font-size: 13px;
      color: rgba($color: white, $alpha: 0.8);
      @include textTruncate(1);
    }
  }
  .icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    color: white;
    font-size: 34px;
    @include displayFlex(flex, center, center);
  }
}

.user-status {
  @include displayFlex(flex, center, center);
  flex-wrap: wrap;
  .card-status {
    flex: 1 0 33.33%;
    width: 33.33%;
  }
}

.card-status {
  padding: 5px 10px;
  &:first-child {
    padding-right: 0;
  }
  &:last-child {
    padding-left: 0;
  }
  .card-inner {
    background-color: white;
    box-shadow: $boxshadow2;
    border-radius: 15px;
    padding: 20px 10px 10px 10px;
  }
  .thumb {
    width: 100px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  .info {
    margin-top: 20px;
    text-align: center;
    h6 {
      color: $textGrey;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 0;
      @include textTruncate(1);
    }
    h3 {
      color: $textDark;
      margin-bottom: 0;
    }
  }
}

.notification-center {
  background-color: white;
  box-shadow: $boxshadow2;
  border-radius: 20px;
  margin-top: 20px;
  padding: 30px;
}

.card-notif {
  margin-bottom: 10px;
  .card-inner {
    border: 1px solid $borderColor;
    border-radius: 15px;
    padding: 15px;
    position: relative;
  }
  h6 {
    color: $textDark;
    padding-left: 140px;
  }
  .date {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 14px;
    color: $textGrey;
    .fi {
      margin-left: 5px;
      position: relative;
      top: 2px;
    }
  }
  .desc {
    p {
      font-size: 14px;
      font-weight: 400;
      color: $textGrey;
    }
  }
  .btns-action {
    text-align: left;
  }
}

.choose-code-meli {
  .code-inner {
    @include displayFlex(flex, center, space-between);
  }
  .select-group {
    flex: 0 0 50%;
    width: 50%;
    margin-bottom: 0;
  }
  .btns-action {
    flex: 0 0 50%;
    width: 50%;
    @include displayFlex(flex, center, flex-end);
    .btn {
      margin-right: 10px;
    }
  }
}

.recipes-list {
  margin-top: 1rem;
  .filters {
    @include displayFlex(flex, center, space-between);
    h5 {
      margin-bottom: 0;
      font-size: 18px;
    }
  }
  .sort {
    width: 300px;
    .select-group {
      margin-bottom: 0;
    }
  }
  .list-inner {
    margin-top: 1.5rem;
  }
}

.card-recipe {
  margin-bottom: 15px;
  .card-inner {
    display: grid;
    grid-template-columns: 80px auto 180px;
    background-color: white;
    box-shadow: $boxshadow2;
    border-radius: 15px;
  }
  .number {
    @include displayFlex(flex, flex-start, center);
    span {
      background: $gradientPrimary;
      width: 45px;
      font-size: 14px;
      font-weight: 600;
      color: white;
      display: inline-block;
      text-align: center;
      padding: 20px 5px 10px 5px;
      border-radius: 0 0 10px 10px;
      border-bottom: 3px solid $secondary;
    }
  }
  .info {
    padding: 15px;
    ul {
      @include displayFlex(flex, center, flex-start);
      flex-wrap: wrap;
      li {
        flex: 1 0 50%;
        width: 50%;
        margin: 5px 0;
        font-size: 14px;
        font-weight: 400;
        color: $textGrey;
        .fi {
          font-size: 16px;
          position: relative;
          top: 3px;
          color: $textSilver;
          margin-left: 5px;
        }
        span {
          color: $textDark;
          &.waiting {
            background-color: rgba($color: $secondary, $alpha: 0.1);
            color: $secondary;
            padding: 5px 10px;
            font-weight: 600;
            border-radius: 10px;
          }
          &.payment {
            background-color: rgba($color: $info, $alpha: 0.1);
            color: $info;
            padding: 5px 10px;
            font-weight: 600;
            border-radius: 10px;
          }
          &.error {
            background-color: rgba($color: $error, $alpha: 0.1);
            color: $error;
            padding: 5px 10px;
            font-weight: 600;
            border-radius: 10px;
          }
          &.success {
            background-color: rgba($color: $success, $alpha: 0.1);
            color: $success;
            padding: 5px 10px;
            font-weight: 600;
            border-radius: 10px;
          }
        }
      }
    }
  }
  .btns-action {
    @include displayFlex(flex, center, center);
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    border-right: 1px solid $borderColor;
    .btn {
      padding: 0.5rem;
      font-size: 14px;
      font-weight: 600;
      min-width: unset;
      width: 100%;
      margin: 3px 0;
    }
  }
}

.drugs-list {
  max-height: 300px;
  overflow-y: auto;
}

.card-drug {
  margin-bottom: 5px;
  .card-inner {
    border: 1px solid $borderColor;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40px auto 300px;
  }
  .number {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: $textGrey;
    padding: 8px;
  }
  .name {
    padding: 8px 8px 8px 12px;
    h6 {
      &.fa {
        font-size: 14px;
        font-weight: 600;
        color: $textDark;
        margin-bottom: 5px;
      }
      &.en {
        font-size: 13px;
        font-weight: 400;
        color: $textGrey;
        margin-bottom: 0;
      }
    }
  }
  .info {
    border-right: 1px solid $borderColor;
    padding: 8px 12px 8px 8px;
    p {
      margin-bottom: 0;
      color: $textGrey;
      font-size: 14px;
      font-weight: 400;
      span {
        color: $textDark;
        font-weight: 600;
      }
    }
  }
  .box {
    border-right: 1px solid $borderColor;
    padding: 8px 12px 8px 8px;
  }
  &.more-details {
    .card-inner {
      grid-template-columns: 40px auto 100px 300px;
    }
  }
}

.factore-details {
  ul {
    @include displayFlex(flex, center, flex-start);
    flex-wrap: wrap;
    li {
      flex: 1 0 50%;
      width: 50%;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 400;
      color: $textDark;
      span {
        color: $textGrey;
        margin-left: 5px;
      }
    }
  }
  &.have-border {
    padding: 25px;
    border: 1px solid $borderColor;
    border-radius: 20px;
    background-color: white;
  }
}

.notepad {
  margin-top: 2rem;
  .notepad-inner {
    background-color: $background;
    padding: 20px;
    border-radius: 10px;
  }
  .empty-notepad {
    text-align: center;
    padding: 10px 0 0 0;
    .fi {
      font-size: 34px;
      color: $textSilver;
    }
    h6 {
      color: $textGrey;
      font-weight: 400;
      font-size: 14px;
    }
  }
}

.card-address {
  margin-bottom: 10px;
  user-select: none;
  position: relative;
  .card-inner {
    display: grid;
    grid-template-columns: 40px auto;
    border: 2px solid $borderColor;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
  }
  .icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: white;
    background-color: white;
    border: 1px solid $borderColor;
    @include displayFlex(flex, center, center);
    margin-top: 5px;
  }
  .info-list {
    li {
      font-size: 14px;
      color: $textDark;
      margin: 4px 0;
      span {
        color: $textGrey;
        margin-left: 5px;
      }
      .fi {
        margin-left: 5px;
        font-size: 16px;
        color: $textSilver;
        position: relative;
        top: 3px;
      }
    }
  }
  .dropdown {
    position: absolute;
    left: 10px;
    top: 10px;
    .btn-card-menu {
      width: 34px;
      height: 34px;
      @include displayFlex(flex, center, center);
      border-radius: 8px;
      background-color: $background;
      color: $textSilver;
      border: none;
      padding: 2px;
      font-size: 20px;
    }
    .dropdown-menu {
      .dropdown-item {
        font-size: 14px;
        color: $textDark;
        .fi {
          color: $textSilver;
          font-size: 18px;
          position: relative;
          padding-left: 10px;
          top: 4px;
        }
        &:hover,
        &:focus {
          background: $gradientPrimary;
          color: white;
          .fi {
            color: rgba($color: white, $alpha: 0.7);
          }
        }
      }
    }
  }
  &.active {
    .card-inner {
      border-color: $primary;
    }
    .icon {
      background: $gradientPrimary;
      border: none;
    }
    .dropdown {
      .btn-card-menu {
        background-color: rgba($color: $primary, $alpha: 0.15);
        color: $primary;
      }
    }
  }
  &.small {
    .card-inner {
    }
  }
}

@media (max-width: 1400px) {
  .user-dashboard-section {
    .products-list {
      .card-course {
        .img-container {
          height: 170px;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .user-dashboard-section {
    margin: 120px 0 150px 0;
    .grid-layout {
      grid-template-columns: 280px auto;
    }
    .products-list {
      .card-course,
      .card-teacher {
        flex: 0 0 50%;
        width: 50%;
      }
    }
  }
  .card-register-recipe {
    .card-inner {
      grid-template-columns: 60px auto;
      padding: 15px;
    }
    .thumb {
      width: 60px;
      height: 60px;
      font-size: 30px;
    }
    .info {
      padding-left: 30px;
      h5 {
        font-size: 16px;
      }
    }
    .icon {
      width: 24px;
      height: 24px;
      font-size: 24px;
    }
  }
  .card-status {
    .thumb {
      width: 80px;
    }
    .info {
      h3 {
        font-size: 1.5rem;
      }
    }
  }
  .card-recipe {
    .info {
      ul {
        li {
          flex: 1 0 100%;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .user-dashboard-section {
    margin: 100px 0;
    .grid-layout {
      grid-template-columns: 100%;
    }
    .grid-user-menu {
      position: fixed;
      top: 0;
      right: -300px;
      width: 300px;
      height: 100vh;
      z-index: 1999;
      .grid-inner {
        position: relative;
        top: 0;
        z-index: 2000;
        height: 100%;
        overflow-y: auto;
        transition: all 0.3s;
        box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
        border-radius: 15px 0 0 15px;
        border: none;
      }
      &.active {
        right: 0;
      }
    }
    .grid-main {
      padding: 0;
    }
    .main-title {
      border: 1px solid $borderColor;
      border-radius: 10px 10px 0 0;
      padding: 10px 10px 10px 15px;
      .icon {
        display: none;
      }
    }
    .main-body {
      border: 1px solid $borderColor;
      border-top: none;
      border-radius: 0 0 10px 10px;
      padding: 15px 10px;
    }
  }
  .btn-closeprofileMenu,
  .btn-usermenu {
    display: flex;
  }
  .notification-center {
    padding: 20px;
  }
  .card-recipe {
    .info {
      ul {
        li {
          flex: 1 0 50%;
          width: 50%;
        }
      }
    }
  }
  .card-drug {
    .card-inner {
      grid-template-columns: 40px auto;
      grid-template-areas: "number name" "recipes recipes";
    }
    .number {
      grid-area: number;
    }
    .name {
      grid-area: name;
    }
    .info {
      grid-area: recipes;
      border-right: none;
      border-top: 1px solid $borderColor;
      padding-right: 40px;
      margin-top: 2px;
      padding-top: 10px;
      background-color: $background;
      border-radius: 0 0 10px 10px;
    }
  }
}

@media (max-width: 768px) {
  .user-dashboard-section {
    .products-list {
      .card-course {
        flex: 0 0 50%;
        width: 50%;
      }
    }
    .main-title {
      h3 {
        font-size: 16px;
      }
      .buttons-group .btn {
        font-size: 13px;
      }
    }
  }
  .card-status {
    .thumb {
      width: 70px;
    }
    .info {
      h6 {
        font-size: 13px;
      }
      h3 {
        font-size: 1.4rem;
      }
    }
  }
  .card-notif {
    h6 {
      font-size: 14px;
    }
    .desc {
      p {
        font-size: 13px;
      }
    }
    .btns-action {
      .btn {
        padding: 0.5rem 1rem;
        min-width: 100px;
      }
    }
  }
  .notification-center {
    padding: 15px;
  }
  .choose-code-meli {
    .select-group {
      flex: 0 0 40%;
      width: 40%;
    }
    .btns-action {
      flex: 0 0 60%;
      width: 60%;
    }
  }
  .card-recipe {
    .card-inner {
      grid-template-columns: 80px auto;
      grid-template-areas: "number info" "btnAction btnAction";
    }
    .number {
      grid-area: number;
    }
    .info {
      grid-area: info;
      padding: 10px;
    }
    .btns-action {
      grid-area: btnAction;
      padding: 10px;
      border-right: none;
      border-top: 1px solid $borderColor;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: row;
      .btn {
        width: unset;
        padding: 0.5rem 1rem;
        margin: 0 5px 0 0;
      }
    }
  }
}

@media (max-width: 575px) {
  .user-dashboard-section {
    .main-title {
      margin-bottom: 0;
      flex-direction: column;
      .title-inner {
        width: 100%;
      }
      .buttons-group {
        width: 100%;
        text-align: left;
        margin-top: 15px;
      }
    }
  }
  .register-recipe-group {
    margin: 1rem 0;
    .card-register-recipe {
      flex: 1 0 100%;
      width: 100%;
      padding: 8px 0;
    }
  }
  .user-status {
    .card-status {
      flex: 1 0 50%;
      width: 50%;
      padding-bottom: 10px;
      &:nth-child(2) {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  .card-status {
    .thumb {
      width: 60px;
    }
    .info {
      h6 {
        font-size: 12px;
      }
      h3 {
        font-size: 1.2rem;
      }
    }
  }
  .card-notif {
    h6 {
      padding-left: 0;
    }
    .date {
      position: relative;
      top: unset;
      left: unset;
    }
    .btns-action {
      .btn {
        padding: 0.5rem 1rem;
        min-width: 100px;
      }
    }
  }
  .notification-center {
    padding: 10px;
  }
  .choose-code-meli {
    .code-inner {
      flex-wrap: wrap;
    }
    .select-group,
    .btns-action {
      flex: 0 0 100%;
      width: 100%;
    }
    .btns-action {
      margin-top: 1rem;
    }
  }
  .recipes-list {
    margin-top: 2rem;
    .filters {
      flex-wrap: wrap;
    }
    h5,
    .sort {
      flex: 0 0 100%;
      width: 100%;
    }
    .sort {
      margin-top: 1rem;
    }
  }
  .card-recipe {
    .card-inner {
      grid-template-columns: 50px auto;
    }
    .number {
      span {
        width: 35px;
        margin-right: auto;
        font-size: 13px;
      }
    }
    .info {
      grid-area: info;
      padding: 15px 15px 8px 8px;
      ul {
        li {
          flex: 1 0 100%;
          width: 100%;
          font-size: 13px;
          margin: 0 0 5px 0;
          .fi {
            font-size: 14px;
          }
        }
      }
    }
    .btns-action {
      padding: 8px;
      .btn {
        font-size: 13px;
      }
    }
  }
  .factore-details {
    ul li {
      flex: 1 0 100%;
      width: 100%;
      font-size: 14px;
    }
  }
}

@media (max-width: 350px) {
  .user-dashboard-section .grid-user-menu {
    width: 100%;
    right: -400px;
    .grid-inner {
      border-radius: 0;
    }
  }
}
/*#endregion -------------- User Profile */
